[v-cloak] {
    display: none;
}

main {
    padding-top: 70px;
}

form {
    margin-bottom: 15px;
}

.card .card-body:before,
.card .card-body:after {
    display: table;
    clear: both;
    content: '';
}

.card .avatar,
.card .info {
    margin-bottom: 10px;
}

.card .avatar > img {
    width: 100%;
}

.card .card-body ul {
    padding: 0;
    list-style: none;
}

.card .card-body .info h4 {
    margin-top: 0;
    font-weight: 700;
}

.card .card-body .info li {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px #eee solid;
}

.card .card-body .info li span {
    display: block;
}

.card .card-body .info li > span {
    margin: 0 0 3px 0;
    font-size: .85em;
}

.card .card-body .info li > span + span {
    margin: 0;
    font-size: 1em;
}

.card .card-body .info li li {
    margin: 0;
    padding: 0;
    border: 0;
}

@media (min-width: 400px) {
    .card .avatar,
    .card .info {
        float: left;
    }
    .card .avatar {
        width: 30%;
    }
    .card .info {
        padding-left: 15px;
        width: 70%;
    }
}

@media (min-width: 768px) {
    .card .avatar {
        width: 20%;
    }
    .card .info {
        width: 80%;
    }
}

.media {
    margin-top: 5px;
}

.media img {
    max-width: 64px;
    max-height: 64px;
}

.media .media-body {
    vertical-align: middle;
}

.media .media-body h4 {
    margin-bottom: 1px;
}

.media .media-body p {
    margin-bottom: 0;
    font-size: .85em;
    color: #999;
}
