.card .card-body .info li > span + span.color {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    border-radius: 50%;
}

.color-black {
    background-color: #000;
}

.color-blue {
    background-color: #00BFFF;
}

.color-brown {
    background-color: #8B4513;
}

.color-gray {
    background-color: #9E9E9E;
}

.color-green {
    background-color: #008000;
}
